<%- include("partials/header") %>
    <link rel="stylesheet" media="screen and (max-width: 600px)" href="/CSS/project_part.css">
    <div class="container">
        <div class="register">
            
            <img src="/Images/lostNdfound.png" alt="noty found">
            <form action="/register/found" method="get">
                <input type="submit" value="Register Found Item" id="register_item" class=" input1">
            </form>

            <form action="/register/lost" method="get">
                <input type="submit" value="Register Lost Item" id="register_item" class=" input1"
                    style="margin-top: 10px;">
            </form>

        </div>

        <div class="register">
            <img src="/Images/lostNdfound.png" alt="noty found">
            <form action="/founded" method="get">
                <input type="submit" value="Founded Items" class=" input1" style="margin-top: 10px;">
            </form>
            <form action="/lost" method="get">
                <input type="submit" value="Lost Items" class=" input1" style="margin-top: 10px;">
            </form>
        </div>

    </div>
    <%- include("partials/footer") %>